<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista locales</title>
</head>
<body>
    {% if lista %}
        <ul>
        {% for local in lista %}
            <li>{{ local.nombre }}</li>
            <a href='reservar?local={{ local.id }}'>Reservar </a>&nbsp&nbsp&nbsp
            <a href='review?local={{ local.id }}'>Poner una reseña </a><br>
            <p></p>
        {% endfor %}
        </ul>
    {% else %}
        <p>No hay locales.</p>
    {% endif %}

    <a href="logout">Logout</a>

</body>
</html>