<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <!-- <link rel="stylesheet" href="css/login.css"> -->
</head>
<body>
    <div class="login">
        <h1>Login</h1>
        <form action='validate_login' method='POST'>{% csrf_token %}
            <input type="text" name="username" id="username" placeholder="Usuario" required="required" />
            <input type="password" name="password" id="password" placeholder="Contraseña" required="required" />
            <button type="submit">Login.</button>
            <p>¿No estás registrado?   <a href="crear_direccion">Registrar</a></p>
        </form>
    </div>

</body>
</html>