<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <!-- <link rel="stylesheet" href="css/login.css"> -->
</head>
<body>
    <div class="login">
        <h1>Login</h1>
        <form method='POST'>{% csrf_token %}
            <input type="text" name="Usuario" placeholder="Usuario" required="required" />
            <input type="password" name="Contraseña" placeholder="Contraseña" required="required" />
            <button type="submit" class="btn btn-primary btn-block btn-large">Login.</button>
            <p>¿No estás registrado?   <a href="crear_direccion">Registrar</a></p>
        </form>
    </div>
</body>
</html>